body, html {
    margin: 0px;
    padding:0px;
    width: 100%;
    height: 100%;
    background-color: #f2ede2;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
    display: flex;
}

* {
    box-sizing: border-box;
}

#container {
    width: 1145px;
    max-width:1145px;
    min-height:200px; 
    margin:auto;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(235,225,207,0.72); 
    box-shadow: 0px 0px 15px 5px rgba(235,225,207,0.72);
    padding: 40px;
}

#menu {
    width: 100%;
    list-style-type:none;
    text-align: center;
    margin-bottom: 100px;
}

#menu li {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    padding: 6px 20px;
    background-color: #fff ;
    border-radius: 5px;
    font-weight: 300;
    transition: background .3s ease;
}

#menu li + li {
    margin-left: 10px;
}

#menu li:hover {
    font-weight: 400;
    background-color: #fdf7e9;
    border-radius: 5px;
    cursor: pointer;
}

#menu li.active {
    font-weight: 400;
    background-color: #fdf7e9;
    border-radius: 5px;
    cursor: pointer;
}



#gallery {
    display: flex;
    align-items: center;
  }
  
#gallery > div:first-of-type {
    width: 50px;
    cursor: pointer;
  }
  
#gallery > div:last-of-type {
    width: 50px;
    cursor: pointer;
  }
  
#gallery > div:nth-of-type(2) { 
    flex-grow: 1;
    min-height: 200px;
  }

#gallery > div + div {
    margin-left: 2%;
}

#images {
    overflow: hidden;
    display: flex;
     justify-content: flex-start; 
    align-items: stretch; 
    /* flex-flow: row nowrap; */ 
    flex-direction: row; 
    flex-wrap: nowrap; 
    align-content: flex-start;

    padding: 15px;
    gap: 20px;

  }

#images > div {
    width: 270px;
    border-radius: 10px;
    border:1px solid #e2e2e2;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 30px;
}

#images > div img {
    width: 270px;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

button {
    background-color: #e25b46;
    border: 0px;
    padding: 15px 25px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(249,221,215,0.72); 
    box-shadow: 0px 0px 15px 5px rgba(249,221,215,0.72);
}